@(category: Holders.CategoryGroup)<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>

<form method="post" action="@routes.UploadController.uploadEditedCategory(category.getId())" enctype="multipart/form-data">
	@for(cat <- category.getCategories() ){
		<p>
		<select id="select" name="lang">

			@for(language <- constants.ViewConstants.supportedLanguages){
				@{if(language == cat.getLanguage()){
					<option selected="selected">{language}</option>
				}
				else{
					<option>{language}</option>
				}
			}
			}
			
		</select>
		<label>Category Name</label>
		<input id="inputVal" type="text" name="category" value="@cat.getType()" />
		 <label>Image:</label><input type="file" id="image" name="picture" accept="image/*">
		<br/>

	</p>
	}
	
	<p>
		<button  type="button" class="add" >
			Add fields
		</button>

		<button type="button" class="remove">
			Remove
		</button>
		<input type="submit" value="Submit!" />
	</p>

</form>

        </body>
<script>

	var i = 0;
	$(".add").click(function() {

		$a = $("form > p:first-child").clone(true);

		$(this).parent().before($a);
		$a.find("#select").attr("name", "lang" + i);
		$a.find("#select").val("");
		$a.find("#inputVal").attr("name", "category" + i);
		$a.find("#inputVal").val("");
		$a.find("#image").attr("name", "picture" + i);
		$a.find("#image").val("");
		i++;

		return false;
	});

	$(".remove").click(function() {
		form = $("form").children("p");
		count = form.length;
		if (count > 2) {
			form.get(count - 2).remove();
		}
	}); 
</script>